:root {
  --factorio: #282c34;
  --main-button: aquamarine;
  --main-active: orangered;
  --dark-grey: #1d2025;
  --button-grey: #3a3f4a;
  --hover-grey: #808aa0;
  --full: #b22222;
  --hover-full: #ff6347;
}

.App {
  background-color: #282c34;
  min-height: 95.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  text-align: center;
}

button {
  padding: 10px; 
  font-size: 16px;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: orangered;
}

.section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
}

.messages {
  font-size: 14px; 
  text-align: center;
  position: fixed; /* Fixed positioning so it stays in the same place on scroll */
  top: 0;       /* Align to the bottom */
  right: 0;        /* Align to the right */
  margin: 10px;    /* Optional: add some margin for spacing from edges */
  padding: 10px;   /* Optional: add padding for internal spacing */
  background: rgba(0, 0, 0, 0.7); /* Optional: add a background with transparency */
  border-radius: 8px; /* Optional: rounded corners for aesthetics */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: add shadow for depth */
  z-index: 1000;   /* Ensure it is on top of other content */
}

.machineButtons{
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.machineButtons button{
  padding: 5px;
}

.machine-div {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers the content */
  gap: 16px; /* Adds space between the image and the text block */
}

.machine-div img {
  width: 32px;
  height: auto;
  /* Optional: add border, border-radius, or shadow if desired */
}

.machine-inputs {
  display: flex;
  flex-direction: column; /* Stacks p elements vertically */
}

.machine-inputs p {
  margin: 0; /* Removes default margin */
  padding: 4px 0; /* Adds vertical padding */
}

/* Optional: Add responsiveness for better mobile view */
@media (max-width: 600px) {
  .machine-div {
      flex-direction: column; /* Stacks image and text block vertically on smaller screens */
      align-items: flex-start; /* Aligns items to the start */
  }
}

.machine-input-buttons{
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers the content */
  gap: 6px; /* Adds space between the image and the text block */
}

.oreDiv{
  display: flex;
  align-content: center;
  justify-content: center;
}

.imgdiv {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: filter 0.1s ease-in-out;
  cursor: pointer; 
  padding: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow */
  background-color: #3a3f4a;
  margin-bottom: 20px;
}

.imgdiv img {
  width: 28px;
  height: auto;
}

.imgdiv:hover {
  filter: brightness(1.2); /* Lighten the image */
  background-color: #808aa0; /* Lightbox overlay color */
}

/* Additional styles for red background */
.imgdiv.red-background {
  background-color: #b22222; /* Dark red */
}

.imgdiv.red-background:hover {
  background-color: #ff6347; /* Lighter red (Tomato) */
}

.imgdiv:active {
  transform: translateY(2px) translateX(2px); /* Moves the div down */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Reduces the shadow to make it appear sunk */
}

/* Number overlay */
.imgdiv .img-number {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer; /* Indicate clickable area */
}

/* Number overlay */
.imgdiv .img-temp-number {
  position: absolute;
  bottom: 2px;
  left: 2px;
  background-color: rgba(73, 69, 131, 0.753); /* Semi-transparent background */
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer; /* Indicate clickable area */
}

/* Mining and crafting buttons */
.mine-button:disabled {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(to bottom, orangered 50%, aquamarine 50%);
  background-size: 100% 200%; /* Make background twice as tall */
  background-position: top; /* Start with burnt orange fully covering */
  transition: background-position var(--craft-time) linear;
}

.mine-button.animating {
  background-position: bottom; /* Move to reveal aquamarine */
}

/* Craft section */
.craftSection {
  position: fixed; /* Fixed positioning so it stays in the same place on scroll */
  bottom: 0;       /* Align to the bottom */
  left: 0;        /* Align to the left */
  margin: 10px;    /* Optional: add some margin for spacing from edges */
  padding: 10px;   /* Optional: add padding for internal spacing */
  background: rgba(0, 0, 0, 0.7); /* Optional: add a background with transparency */
  border-radius: 8px; /* Optional: rounded corners for aesthetics */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: add shadow for depth */
  z-index: 1000;   /* Ensure it is on top of other content */
}

/* Ensure items in craftQueue are displayed in a single line */
.craftQueue {
  display: flex;           /* Use flexbox to align items in a row */
  align-items: center;     /* Vertically center items */
  margin: 5px;             /* Add margin between items if needed */
}

/* Style for individual images */
.craftItem {
  margin: 0px 6px;  /* Space between images */
  padding: 5px;
  border-radius: 4px; /* Optional: rounded corners for images */
  box-shadow: 0 4px 8px rgba(136, 136, 136, 0.3); /* Adding shadow */
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #3a3f4a;
  background: linear-gradient(to bottom, orangered 50%, #3a3f4a 50%);
  background-size: 100% 200%; /* Make background twice as tall */
  background-position: top; /* Start with orangered fully covering */
  transition: background-position var(--craft-time) linear;
  animation: none; /* Ensure no animation is applied initially */
}

@keyframes dropBackground {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}

.craftItem.animating {
  animation: dropBackground var(--craft-time) linear forwards;
}

/* To handle the case where animation may need to be reset */
.craftItem.resetAnimation {
  animation: none; /* Reset animation */
}


/* Animation for MachinesOnSite */
.machineOnSite {
  transition: all 0.5s ease-in-out;
  padding: 10px;
  border-radius: 30px;
}

/* Active State Animation: Radial Green Gradient */
.machineOnSite.active {
  background: radial-gradient(circle, #32cd32, #3a3f4a); /* Light green to dark green */
}

/* No Input / No Fuel State Animation: Flashing Radial Red Gradient */
.machineOnSite.inputReq, .machineOnSite.fuelReq {
  background: radial-gradient(circle, tomato, #3a3f4a);
  animation: noInputNoFuelAnimation 1s infinite;
}

@keyframes noInputNoFuelAnimation {
  from {
    background: radial-gradient(circle, tomato, #3a3f4a);
  }
  to {
    background: none
  }
}

/* Output Full State Animation: Radial Amber Gradient */
.machineOnSite.outputFull {
  background: radial-gradient(circle, #ffcc00, #3a3f4a); /* Light amber to dark amber */
}

.bus-div {
  background-color: var(--dark-grey);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;  /* Center lanes within bus-div */
  flex-wrap: wrap;
  /* gap: 2px; */
  align-items: center;
}

.inserters-div {
  background-color: var(--dark-grey);
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Align items in a column */
  gap: 10px;
  margin-bottom: 10px;
}

.burner-inserter-row {
  display: flex;
  align-items: center;
  justify-content: center; /* Align burner inserter and its fuel info to the left */
  gap: 20px; /* Space between burner inserter and fuel info */
}

.inserters-row {
  display: flex;
  justify-content: space-between;  /* Center lanes within inserters-row */
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.inserters-lane {
  position: relative; /* Enable absolute positioning for child elements */
  border-radius: 10px;
  flex: 0 1 20px;
  min-width: 32px;
  text-align: center;
}

.inserters-lane img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  padding: 5px 0px
}

.inserters-lane p {
  position: absolute;
  bottom: 30px; 
  left: 20px; /* Positioning slightly away from the right edge */
  background-color: var(--hover-grey);
  color: white;
  padding: 2px 5px; /* Add some padding for better appearance */
  border-radius: 3px; /* Rounded corners for the count box */
  font-size: 12px; /* Adjust font size as necessary */
  margin: 0; /* Remove default margin */
}

.inserters-lane button {
  color: white;
  background-color: #3a3f4a;
  height: 20px; 
  width: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;  
}

.burner-fuel-info {
  display: flex;
  flex-direction: column; /* Stack fuel info vertically */
  gap: 5px; /* Space between each fuel info */
}

.fuel-status {
  font-size: 14px; /* Adjust as necessary */
  color: #fff;
}

.bus-lane, .inserters-lane {
  border-radius: 10px;
  flex: 0 1 55px; /* change to 20px after testing! */
  min-width: 32px;
  text-align: center;
  /* margin: 1px; */
}

.add-lane button {
  background-color: #3a3f4a;
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow */
}

.belt-change button, .inserters-lane button {
  color: white;
  background-color: #3a3f4a;
  height: 20px; 
  width: 20px;
  padding: 0%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;  
}

.belt-change button:hover {
  background-color:#808aa0;
}

/* Basic flashing animation */
@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Flashing for slow belts */
.flashing-slow {
  animation: flash 1.5s infinite; /* Longer duration for slower flashing */
}

/* Flashing for medium belts */
.flashing-medium {
  animation: flash 1s infinite; /* Medium duration */
}

/* Flashing for fast belts */
.flashing-fast {
  animation: flash 0.5s infinite; /* Shorter duration for faster flashing */
}

/* Inventory section */

.inventory-div {
  background-color: var(--dark-grey);
  padding: 10px;
  border-radius: 10px;
}

.section-navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.section-navigation button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--factorio);
  border-radius: 10px 10px 0 0;
}

.section-navigation button.active {
  background-color: var(--dark-grey);
  color: white;
  cursor: default;
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--button-grey);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow */
}

.ingredient-item:hover {
  background-color: var(--hover-grey);
}

.ingredient-item.uncraftable {
  cursor: default;
  background-color: var(--factorio);
}

.ingredient-image {
  width: 30px;
  height: 30px;
}

.ingredient-count, .ingredient-cost {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

.cost-item {
  font-size: 0.9em;
  color: #666;
}